ol {
  padding-left: 4em;
}

.label {
  text-shadow: -1px 1px 1px rgb(0,0,0);
  font-size: 20px;
  position: absolute;
}

#ARButton {
  color: black !important;
  width: 10em !important;
  font-size: 4em !important;
  padding: 0.5em !important;
  left: calc(50% - 5em) !important;
}